*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #f6f3eb;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}

#header{
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f6f3eb;
    color: #ff6b61;
}

.header_logo{
    width: 14rem;
}

.bi-search{
    font-size: 1.6rem;
}

#search_input{
    border: none;
    background: transparent;
    outline: none;
    padding-left: 1rem;
}

.social_media{
    height: 100%;
}

.icon{
    width: 2rem;
    font-size: 2rem;
    color: #ff6b61;
}

.advertising{
    font-size: 1rem;
    color: #ff6b61;
    font-weight: 500;
}



.top_header{
    padding-bottom: 1rem;
    border-bottom: solid #ff6b61 0.1rem;
}

.bottom_header{
    padding-top: 1rem;
    font-weight: 500;
    color: #1f3b34;
}

.bottom_header a:hover{
    text-decoration: underline;
    opacity: .85;
    color: #1f3b34;
}

.menu{
    padding: 1rem;
}

.button{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: #18e4e4;
}