/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 62.5%;
    background-color: #fee5e2;
    color: #1f3b34;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover, .slide a:hover{
    text-decoration: underline;
    color: #1f3b34de;
}

hr{
    background-color: #ff6b61;
}

/* 
1. Vị trí
2. Kích thước (width, heigth)
3. Màu sắc
4. Kiểu dáng
 */

#main{
}

#header{
    font-size: 1.5rem;
    background-color: #f6f3eb;
    padding: 1rem auto;
}

.group_center{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f3eb;
    border-radius: 0.3rem;
    padding: 2rem 0;
}

#logo svg{
    width: 14rem;
    height: auto;
}

.menu_bar{
    width: 80%;
    height: 100%;
}

.header_top_bar, .header_top_menu{
    width: 98%;
    height: 50%;
    display: flex;
    margin: 0 auto;
}

.header_top_bar{

}

.left_group, .right_group{
    width: 50%;
    margin: 0.7rem;
}

#search{
    background-image: url(https://icons.veryicon.com/png/256/miscellaneous/easemob-icon/search-934.png);
    margin-right: 0.5rem;
}


.left_group{
    display: flex;
    align-items: center;
    justify-content: start;
}

.right_group{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    color: #000;
    font-size: 1.1rem;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

a.icon{
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.2rem 2.2rem;
}

a.icon:hover{
    opacity: 0.5;
}

#tt{
    background-image: url(https://icons.veryicon.com/png/256/object/material_design_icons/twitter-163.png);
}

#fb{
    background-image: url(https://icons.veryicon.com/png/256/miscellaneous/eva-icon-fill/facebook-144.png);
}

#mail{
    background-image: url(https://icons.veryicon.com/png/256/internet--web/billion-square-cloud/email-97.png);
}

.header_top_menu {
    margin: 1rem 0;
}

.header_top_menu a{
    color: #1f3b34;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    text-transform: uppercase;
    font-size: 1.6rem;
}

a.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    background-color: #17E1E3;
    border-radius: 0.2rem;
}

#banner .group_center{
    width: 70%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

#banner{
    height: 50rem;
    background-image: url(https://dq51jve9h21d4.cloudfront.net/sites/default/files/styles/banner_image/public/articles/516/xblooming_v19-02.png.pagespeed.ic.CohwoUKu7P.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1rem;
    position: relative;
}

#leadership{
    position: absolute;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    background-color: #ffdbcf;
    border-radius: 0.2rem;
    bottom: 2rem;
}

#content .group_center{
    width: 70%;
}

#content hr{
    height: 0.3rem;
    width: 70%;
    margin: 0 auto;
}

.top_content{
    width: 95%;
    margin: 2rem auto;
}

.title{
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.information{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information .left_group p{
    margin-right: 7rem;
    font-size: 1.4rem;
}

.information .right_group{
    width: 50%;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.information .social{
    width: 50%;
}

#lk{
    background-image: url(https://icons.veryicon.com/png/256/miscellaneous/unicons/linkedin-99.png);
}

.mid_content{
    width: 70%;
    margin: 1rem auto;
}

.mid_content h2{
    font-size: 4.9rem;
    font-weight: 100;
    margin: 4rem 0 2rem;
}

.mid_content p{
    font-size: 2.4rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.softwares_container{
    margin: 4rem 0 8rem;
    width: 100%;
    height: 40rem;
    background-color: #fce0d7;
}

.softwares_container .top{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.softwares_container .top h6{
    margin: 1rem 0;
    position: relative;
    font-size: 1.4rem;
    font-weight: 200;
    font-family: 'Courier New', Lucida Console, Monaco;
}

.softwares_container .top a{
    position: absolute;
    right: 1rem;
}

.top .mention{
    background-image: url(https://icons.veryicon.com/png/128/application/outline-1/exclamation-circle-8.png);
}

.softwares_container .bottom{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
}

.softwares_container .subscribe{
    width: 70%;
    background-color: #ff584d;
    font-weight: 200;
    color: #fff;
}

.softwares_container .subscribe a:hover{
    text-decoration: none;
}

.hubspot{
    width: 30%;
    height: 85%;
    background-color: #fff;
    margin-left: 2rem;
    align-items: center;
    text-align: center;
}

.hubspot p{
    width: 80%;
    font-size: 1.4rem;
    text-align: start;
    margin: 4rem 0;
}

.hubspot:hover{
    border: 0.1rem solid #ff584d;
}

.hubspot_logo{
    width: 8rem;
    height: 8rem;
}

.hubspot h3, .hubspot a, .hubspot_logo, .hubspot p{
    margin: 2rem auto;
    font-size: 1.4rem;
}

.quote{
    margin: 4rem 0;
    background-color: #fde4db;
    padding: 4rem;
    border-left: 0.2rem solid #ff584d;
}

.text_em{
    color: #ff584d;
}

.text_bold{
    font-weight: 600;
}

.bottom_content{
    padding: 2rem 0 5rem;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #f6f3eb;
}

.bottom_content .social{
    margin: 0 auto;
    width: 40%;
}

#subscribe{
    width: 70%;
    height: 100%;
    border-top: 0.1rem solid #ff584d;
    border-bottom: 0.1rem solid #ff584d;
    padding: 6rem 0;
    margin: 0 auto;
    background-color: #f6f3eb;
}

#subscribe .social{
    text-transform: uppercase;
    width: 70%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

#subscribe_button{
    width: 20%;
    height: 100%;
    padding: 1rem;
    background: linear-gradient(to right,rgba(211,249,250,.5) 0%,rgba(255,107,97,.1) 49%,rgba(255,107,97,.1) 50%,rgba(211,249,250,.5) 100%);
    border: 0.1rem solid #ff584d;
    color: #000;
    text-transform: uppercase;
}

#subscribe_button:hover{
    background: linear-gradient(left,rgba(211,249,250,.5) 0%,rgba(255,107,97,.1) 49%,rgba(255,107,97,.1) 50%,rgba(211,249,250,.5) 100%);
    text-decoration: none;
    color: #ff584d;
}

#slider{
    width: 70%;
    margin: 0 auto 10rem;
    height: 100%;
    padding: 4rem 0;
    background-color: #f6f3eb;
}

#slider h2{
    width: 20%;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #000;
    margin: 0 auto 3rem;
}

.slide{
    width: 80%;
    margin: 0 auto;
}

.img{
    width: 95%;
    margin-bottom: 2rem;
    position:relative;
}

.img img{
    width: 100%;
}

.img:hover{
    opacity: 0.8;
}

.slide ul{
    display: flex;
    justify-content: space-evenly;
}

.slide a{
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

#footer{
    padding: 2rem 0;
    background-color: #f6f3eb;  
    font-size: 1.4rem;
    width: 100%;
}


#footer > .group_center{
    display: list-item;
    list-style: none;
}

#footer p{
    margin: 3rem auto;
    width: 60%;
    color: #955e57;
}

.top_footer, .footer_menu{
    text-align: center;
    margin: 2rem auto;
}

.top_footer h3{
    margin: 2rem 0;
    color: #955e57;
    font-weight: 100;
    font-size: 1.6rem;
    padding: 2rem 0;
}

.top_footer input{
    width: 20rem;
    height: 4rem;
}

.footer_menu ul {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto; 
}

.footer_menu ul a, .footer_menu > a{
    color: #955e57;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
}

.footer_menu ul a:hover, .footer_menu > a:hover{
    opacity: 0.7;
}

.logo_footer{
    width: 6%;
    margin: 0 auto;
    cursor: pointer;
}

.logo_footer:hover{
    opacity: 0.5;
}