@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --bg-color: #f6f3eb;
    --text-em-color: #ff6b61;
    --text-black: #000;
    --text-normal: #1f3b34; 
    --bg-button: #18e4e4;
    --bg-white: #fff;
    --bg-area: #f8e1d9;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    background-color: var(--bg-color);
    font-size: 62.5%;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--text-normal);
}

#page{
    background-color: var(--bg-color);
    font-size: 2rem;
    color: var(--text-normal);
}

#header{
    background-color: var(--bg-color);
}

.logo-header{
    height: 3.6em;
    background-image: url(https://dq51jve9h21d4.cloudfront.net/sites/default/themes/crmorg_v1/xlogo.png.pagespeed.ic.VnKnWS2IXc.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.top-nav-bar{
    border-bottom: solid var(--text-em-color) 0.1rem;
}

.bi-search{
    font-size: 1.7rem;
    align-self: center;
}

input.header-input{
    outline: none;
    border: none;
    background-color: var(--bg-color);
    width: 80%;
    font-size: 1.6rem;
}

.text-em{
    color: var(--text-em-color);
    font-weight: 500;
    cursor: pointer;
}

.advertising-container{
    /* position: relative;  */
}

.advertising-tab{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    /* left: 75%; */
    background-color: var(--bg-color);
    color: var(--text-normal);
    position: fixed;
}

.bold-black{
    color: var(--text-normal);
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: underline;
}

.bi-x-lg{
    font-size: 2rem;
    cursor: pointer;
}

.icon{
    color: var(--text-em-color);
    font-size: 2rem;
}

.bot-nav-bar{
    padding-top: 1.5rem;
}

.menu{
    font-size: 1.6em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.subscribe-btn{
    background-color: var(--bg-button);
    border-radius: 0.2em;
    color: var(--text-normal);
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0.5em 0;
}

#sologan{
    background-color: var(--bg-color);
}

.big-sologan{
    background-image: linear-gradient(rgb(23, 225, 227) 25%, rgb(255, 107, 97) 90%);
    background-clip: text;
    color: transparent;
    font-size: 7rem;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.small-sologan{
    color: var(--text-normal);
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
}

#after-sologan{
    background-color: var(--bg-color);
}

.img{
    background-image: url(https://dq51jve9h21d4.cloudfront.net/sites/default/files/styles/article_thumbnail/public/crmland/633/xcrmland_best_crm_software-header-art_final_1.png.pagespeed.ic.ff-QxVegit.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: auto; */
}

.description{
    font-size: 2rem;
    text-align: start;
    font-weight: 300;
}