@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --bg-color: #f6f3eb;
    --text-em-color: #ff6b61;
    --text-black: #000;
    --text-normal: #1f3b34; 
    --bg-button: #18e4e4;
    --bg-white: #fff;
    --bg-area: #fce0d7;
    --bg-news: #ffdbcf;
    --bg-sub: #eaeff6;
    --text-footer: #284b44;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    background-color: var(--bg-color);
    font-size: 62.5%;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--text-normal);
}

#page{
    background-color: var(--bg-color);
    font-size: 2rem;
    color: var(--text-normal);
}

#header{
    background-color: var(--bg-color);
}

.logo-header{
    height: 3.6rem;
    background-image: url(https://dq51jve9h21d4.cloudfront.net/sites/default/themes/crmorg_v1/xlogo.png.pagespeed.ic.VnKnWS2IXc.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.top-nav-bar{
    border-bottom: solid var(--text-em-color) 0.1rem;
}

.bi-search{
    font-size: 1.7rem;
    align-self: center;
}

input.header-input{
    outline: none;
    border: none;
    background-color: var(--bg-color);
    width: 80%;
    font-size: 1.6rem;
}

.text-em{
    color: var(--text-em-color);
    font-weight: 100;
    cursor: pointer;
}

.social-media .icon:hover{
    opacity: 0.8;
}

.advertising-tab{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    /* left: 75%; */
    background-color: var(--bg-color);
    color: var(--text-normal);
    position: fixed;
}

.bold-black{
    color: var(--text-normal);
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: underline;
}

.bi-x-lg{
    font-size: 2rem;
    cursor: pointer;
}

.icon{
    color: var(--text-em-color);
    font-size: 2rem;
}

.bot-nav-bar{
    padding-top: 1.5rem;
}

.bot-nav-bar .menu{
    text-transform: uppercase;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.bot-nav-bar .menu .h3{
    font-weight: 500;
    color: var(--text-normal);
}

.subscribe-btn{
    background-color: var(--bg-button);
    border-radius: 0.2em;
    color: var(--text-normal);
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}

#sologan{
    background-color: var(--bg-color);
    margin: 4rem 0;
}

.big-sologan{
    background-image: linear-gradient(rgb(23, 225, 227) 25%, rgb(255, 107, 97) 90%);
    background-clip: text;
    color: transparent;
    font-size: 6.5rem;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.small-sologan{
    color: var(--text-normal);
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
}

#after-sologan{
    background-color: var(--bg-color);
}

.img{
    background-image: url(https://dq51jve9h21d4.cloudfront.net/sites/default/files/styles/article_thumbnail/public/crmland/633/xcrmland_best_crm_software-header-art_final_1.png.pagespeed.ic.ff-QxVegit.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: auto; */
}

.img:hover{
    opacity: .8;
    cursor: pointer;
}

.description{
    font-size: 2.5rem;
    text-align: start;
    font-weight: 100;
    color: var(--text-normal);
    border-top: solid 0.25rem var(--bg-button);
    background-color: var(--bg-white);
    padding: 1rem 1rem 5rem;
    cursor: pointer;
}

.description .description-title{
    font-size: calc(1.5rem + 1vw);
    font-weight: 600;
}

.description p:hover{
    opacity: 0.8;
}

.margin-top{
    margin-top: 6rem;
}

.margin-bot{
    margin-bottom: 6rem;
}

#after-sologan .title{
    font-size: 2rem;
    background-color: var(--bg-area);
    font-weight: 100;
}

.video-container{
    position: relative;
}

.header-video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #251b1b, transparent);
    padding: 1rem;
}

.channel{
    border-radius: 50%;
}

.video-title{
    color: var(--bg-white);
    font-size: 2rem;
    opacity: 0.8;
}

#lastest-news .title, #most-views .title{
    font-size: 2.5rem;
    font-weight: 100;
}

.underline{
    background: linear-gradient(to right,#ff6b61 0%,#17e1e3 100%);
    background-size: 100% 0.2rem;
    background-position: 0 100%;
    background-repeat: repeat-x;
    padding-bottom: 0.5rem;
}

.card{
    background-color: var(--bg-color);
    border: none;
    padding: 1rem;
}

.card:hover{
    background-color: var(--bg-white);
    cursor: pointer;
}

.card:hover .card-img-top{
    opacity: .8;
}

.card-body{
    padding: 1rem 0;
}

.card-text{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--text-normal);
    background-color: var(--bg-news);
    border-radius: 3%;
}

.card-title{
    color: var(--text-normal);
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

.card-text:hover, .card-title:hover, .description-title:hover,
.menu-text:hover, .text-em:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--text-em-color);
    text-decoration-thickness: 0.2rem;
}

.load-more{
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: var(--text-normal);
    font-weight: 399;
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    border: solid var(--text-em-color) 0.1rem;
    background: linear-gradient(to right,rgba(211,249,250,.5) 0%,rgba(255,107,97,.1) 49%,rgba(255,107,97,.1) 50%,rgba(211,249,250,.5) 100%);
}

.load-more:hover{
    color: var(--text-em-color);
    cursor: pointer;
}

#sub-area{
    background-color: var(--bg-sub);
}

#sub-area .title{
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    color: var(--text-normal);
}

.sub-sologan{
    text-transform: uppercase;
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
}

.sub-btn-area{
    border-left: none;
    font-weight: 399;
}

#sub-area input, #footer input{
    padding: 2rem;
    outline: none;
}

.line-height{
    /* line-height: 100%; */
    line-height: normal;
}

#footer .h4{
    font-weight: 100;
    color: var(--text-footer);
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    word-wrap: break-word;
    letter-spacing: 0.2rem;
    color: var(--text-black);
}

#footer .footer-menu{
    text-transform: uppercase;
    
}

.footer-menu:hover{
    opacity: 0.5;
    cursor: pointer;
}

#footer .sub-sologan{
    font-weight: 100;
}

.privacy{
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin-bottom: 2rem;
}

/*Contact css*/

#content .h1{
    font-family: 'Playfair Display', serif;
    font-size: calc(2.5rem + 1.5vw);
    font-weight: 300;
}

#content .h2{
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
}

#content .h2.bold{
    font-weight: bold;
}

#content .title{
    position: relative;
}

#content .title::before{
    content: "";
    position: absolute;
    right: 0;
    width: 25%;
    height: 100%;
    border-top: solid 0.2rem var(--text-em-color);
    border-right: solid 0.2rem var(--text-em-color);
}

#content .form{
    position: relative;
}

#content .form::after{
    content: "";
    position: absolute;
    left: 10%;
    width: 80%;
    border-bottom: solid var(--text-em-color) 0.1rem;
    padding-bottom: 3rem;
}

#content .form input{
    text-transform: uppercase;
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    font-weight: 100;
    outline: none;
    padding: 3rem 2rem;
    color: var(--text-normal);
    border-color: var(--text-em-color);
    border-width: 0.1rem;
}

#content .form textarea{
    text-transform: uppercase;
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    font-weight: 100;
    outline: none;
    padding: 3rem 2rem 30rem;
    color: var(--text-normal);
    border-color: var(--text-em-color);
    border-width: 0.1rem;
}

#content .form .submit-btn{
    font-weight: 399;
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
}

#content .form .submit-btn:hover{
    color: var(--text-em-color);
}

/* crmland page */


#sologan-crmland .big-sologan{
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: calc(10rem + 1.5vw);
}

#sologan-crmland .small-sologan{
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    font-size: calc(1.3vw);
    color: var(--text-normal);
    font-weight: 399;
}

/* news page */

#news .description{
    background-color: transparent;
    border-top: none;
    border-left: solid var(--text-em-color) 0.2rem;
    border-bottom: solid var(--text-em-color) 0.2rem;
}

#news .description-title{
    font-family: 'Playfair Display', serif;
    font-size: 3.4vw;
    font-weight: 500;
}

#news .description p{
    font-family: 'Brandon Grotesque',Calibri,Helvetica,Arial,sans-serif;
    font-size: 2.4vw;
    font-weight: 100;
    color: var(--text-normal);
}

#news .description p:hover{
    cursor: text;
    color: var(--text-normal);
}

#news .description-margin{
    margin-top: 5vh;
}

#news .description-img{
    background-image: url(https://dq51jve9h21d4.cloudfront.net/sites/default/files/styles/featured_article_thumbnail/public/crmland/231/xartboard_copycrmland-3.png,qitok=MBwGCK-y.pagespeed.ic.Bn7g5ERoqz.png);
    background-position: center;
    background-repeat: no-repeat;
}
